<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="/styles/title-tag-style.css">
        
    </head>
    <body>
        
        <h1><%= title %></h1>
        <div class="tool-form">
            <select id="language" class="form-input">
                <option value="" selected disabled>Select language</option>
                <% languages.forEach(language => { %>
                    <option value="<%= language['1'] %>"><%= language.name %></option>
                <% }); %>
            </select>
            <input type="text" id="title-input" class="form-input" placeholder="søgeord 1, søgeord 2, søgeord 3" />
            <button id="submit-button" class="form-button">Submit</button>
            <textarea id="output-text" class="form-output" readonly></textarea>
        </div>
        <button onclick="location.href='/'" class="back-button">Back</button>
        <script src="/js/title-tag.js"></script>
    </body>
</html>
