body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.url-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.url-input input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.url-input button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.url-input button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #ccc;
}

table th {
    background-color: #007BFF;
    color: #fff;
}

/* ... Your existing styles ... */

.review-textarea {
    margin-top: 20px;
    margin-bottom: 20px;
}

#reviewTextArea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    resize: vertical;  /* Allows only vertical resizing */
    transition: border-color 0.3s;
}

#reviewTextArea:focus {
    border-color: #007BFF;  /* Gives a hint of focus with a different border color */
    outline: none;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Spacing between button and heading */
}

#backButton {
    padding: 6px 12px;
    background-color: transparent;
    color: #007BFF;
    border: 1px solid #007BFF;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

#backButton:hover {
    background-color: #007BFF;
    color: #fff;
}


